.layout {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: all 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
}

.layout-header,
.layout-main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  box-sizing: border-box;
}


.layout-header button:hover {
  background-color: var(--button-hover);
}
