body {
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  margin: 1em auto;
  max-width: 600px;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@import "react-toastify/dist/ReactToastify.css";